@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kaine';
    font-style: normal;
    font-weight: 300;
    src: url('/src/fonts/Neue\ Kaine\ Variable.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    scroll-behavior: smooth;
  }

body {
    color: white;
    font-family: 'Kaine';
    font-size: 1.2rem;
}

h1 {
    font-weight: normal;
    font-family: 'Kaine';
    font-size: 8vw;
}

h2 {
    font-weight: normal;
    font-family: 'Kaine';
    font-weight: 600;
    font-size: 3.5vw;
}

h3 {
    font-size: 1.3vw;
    text-transform: uppercase;
}

p{
    font-size: 1.2vw;
}

a {
    font-size: 1.2vw;
    font-weight: 600;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;  
}

@media screen and (max-width: 1200px) {
    body, .nav-text, p, a {
        font-size: 1rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    
    h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
}