@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kaine';
    font-style: normal;
    font-weight: 300;
    src: url('/src/fonts/Neue\ Kaine\ Variable.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    scroll-behavior: smooth;
  }

body {
    color: white;
    font-family: 'Kaine';
    font-size: 1.2rem;
}

h1 {
    font-weight: normal;
    font-family: 'Kaine';
    font-size: 8vw;
}

h2 {
    font-weight: normal;
    font-family: 'Kaine';
    font-weight: 600;
    font-size: 3.5vw;
}

h3 {
    font-size: 1.3vw;
    text-transform: uppercase;
}

p{
    font-size: 1.2vw;
}

a {
    font-size: 1.2vw;
    font-weight: 600;
}

@media screen and (max-width: 1200px) {
    body, .nav-text, p, a {
        font-size: 1rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    
    h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
}


/* Custom Cursor */

.cursor-ball {
    width: 8px;
    height: 8px;
    background-color: white;
  }
  
  .cursor-outline {
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    transition: all 0.2s ease;
  }

  .cursor-ball,
  .cursor-outline {
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }

  .cursor-outline.cursor-small {
    width: 1rem;
    height: 1rem;
  }

  .hidden {
    display: none;
  }

/* Text Hover Animation */


.hover-container {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.navbar__menu-item {
    font-family: "Kaine";
    line-height: 0.9em;
    text-transform: uppercase;
    font-size: 8vw;
    padding: 60px 20px;
    font-weight: 700;
    width: 300px;
    height: 100px;
    position: relative;
    cursor: pointer;
  }
.navbar__menu-item-2 {
    font-family: "Kaine";
    line-height: 0.9em;
    text-transform: uppercase;
    font-size: 8vw;
    padding: 60px 20px;
    font-weight: 700;
    width: 300px;
    height: 100px;
    position: relative;
    cursor: pointer;
  }
  
  .navbar__menu-item-title {
    position: relative;
    color: white;
    transition: color 0.5s ease;
  }
  .navbar__menu-item-title-2 {
    position: relative;
    color: white;
    transition: color 0.5s ease;
  }
  
  .navbar__menu-item:hover .navbar__menu-item-title {
    -webkit-text-stroke: none;
    color: white;
  }
  .navbar__menu-item-2:hover .navbar__menu-item-title-2 {
    -webkit-text-stroke: none;
    color: white;
  }
  
  .navbar__menu-item-title::after {
    content: attr(data-menu-item-text);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 400;
    -webkit-text-stroke: 1px white;
    color: transparent;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .navbar__menu-item-title-2::after {
    content: attr(data-menu-item-text);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 400;
    -webkit-text-stroke: 1px white;
    color: transparent;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .menu-item-hover-image {
    width: 350px;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 75%;
    opacity: 0;
    transition: opacity 0.3s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    /* This places the cursor in the center of the image. Divide the width and height by 2 to get the top and left offsets :) */
    margin: -115px 0 0 -99px;
    overflow: hidden;
    pointer-events: none;
    z-index: 2;
  }
  .menu-item-hover-image-2 {
    width: 350px;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 75%;
    opacity: 0;
    transition: opacity 0.3s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    /* This places the cursor in the center of the image. Divide the width and height by 2 to get the top and left offsets :) */
    margin: -115px 0 0 -99px;
    overflow: hidden;
    pointer-events: none;
    z-index: 2;
  }
  
  .navbar__menu-item:hover .menu-item-hover-image {
    opacity: 1;
  }
  .navbar__menu-item-2:hover .menu-item-hover-image-2 {
    opacity: 1;
  }
  .navbar__menu-item:hover .navbar__menu-item-title::after {
    opacity: 1;
    z-index: 3;
  }
  
  .navbar__menu-item-2:hover .navbar__menu-item-title-2::after {
    opacity: 1;
    z-index: 3;
  }
  
  @media screen and (max-width: 600px) {
    
    .navbar__menu-item, .navbar__menu-item-2 {
        font-size: 5rem;
    }
}